

div.content {
    margin-left: 50px;
    float: left;
    font-size: 24px;
    color: white;
    font-family: sans-serif;
    width: 900px;
}
.images{
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom:20px;
    margin-right: auto;
    width: 200px;
    height: 355px;
    border: 3px solid #1b5dc6;
}
.logo{
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom:20px;
  margin-right: auto;
  width: 50%;
}
li {
    margin-bottom: 10px;
}
h2{
   margin-top: 0px;
    text-align: center;
}
p{
    text-align: left;
}
