.NASA-event-window{
    border: 4px solid black;
    overflow-y: auto;
}

.NASA-event-window div.time > span{
    margin-left: 7px;
}
	

.NASA-event-window span.close{
    cursor: pointer;
    position: absolute;
    right: 7px;

}

.NASA-event-window span.close:hover{
    color: red;   

}


.NASA-event-window div:hover{
    background-color: lightblue;
}
    
