/********************************************************************/
/* season.css - "normal" classes for a season                       */
/********************************************************************/

div.NASA-field-radio {
    font-family: sans-serif;    
    font-size: 22px;
}

div.NASA-field-checkbox {
    font-family: sans-serif;    
    font-size: 22px;
}

div.NASA-field-radio input[type=radio] {
    margin: 5px 0px 5px 0px;
}

div.NASA-field-radio label {
    font-size: 23px;
}

div.NASA-field-checkbox label {
    font-size: 23px;
}

.NASA-event-window div.time > span{
    margin-left: 7px;
}

div.NASA-event-window { 
    overflow-y: auto;
}

div.NASA-event-window div.time {
    height: 30px;
    font-size: 18px;
}

div.NASA-event-window span.timeText {
    position: relative;
    top: 5px;
}	

div.NASA-event-window span.close{
    cursor: pointer;
    position: absolute;
    right: 7px;
    color: red;
    font-size: 25;

}

div.NASA-event-window span.close:hover{
    color: blue;   

}

div.NASA-event-window div:hover{
    background-color: lightblue;
}
    
div.NASA-line {
    border: 3px solid;
    z-index: -5;
}

div.NASA-box {
    border: 3px solid;
    z-index: -5;
}

div.NASA-field-text {
    font-weight: bold;
    font-size: 26px;
}

div.NASA-field-textInput {
    font-weight: bold;
    font-size: 20px;
}

div.NASA-field-textInput form{
    margin-bottom: 0;
}

.NASA-field-radio label:checked {
  background: #005BA6;
}

body {
  background: #e8ebee;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

button {
    background: #005BA6;
    border: solid black;
    height: 50;
    color: white;
    border-radius: 10%;
}

button:active {
    background: red;
}

div.NASA-field-intChoice div.numSpinner{
    width: 150px;
}

div.NASA-field-checkbox [type="checkbox"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

div.NASA-field-checkbox [type="checkbox"] + span {
  display: block;
}

/* the basic, unchecked style */
div.NASA-field-checkbox [type="checkbox"] + span:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 17px;
  vertical-align: -5px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #000;
  margin-right: 15px;
  transition: 0.1s ease all;
}

/* the checked style using the :checked pseudo class */
div.NASA-field-checkbox [type="checkbox"]:checked + span:before {
  background: #005BA6;
  box-shadow: 0 0 0 5px #000;
}

/* never forget focus styling */
div.NASA-field-checkbox [type="checkbox"]:focus + span:after {
  font-size: 20px;
  line-height: .5;
  vertical-align: -3px;
}


/* RADIO RADIO RADIO RADIO */
[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: .5;
  color: #005BA6;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 17px;
  vertical-align: -5px;
  border-radius: 20px;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 2px #000;
  margin-right: 15px;
  transition: 0.1s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #005BA6;
  box-shadow: 0 0 0 5px #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  line-height: .5;
  vertical-align: -3px;
}


